! special
*.foreground:   {{ .Foreground }}
*.background:   {{ .Background }}
*.cursorColor:  {{ .Cursor }}

! black
*.color0:       {{ index .Colors 0}}
*.color8:       {{ index .Colors 8}}

! red
*.color1:       {{ index .Colors 1}}
*.color9:       {{ index .Colors 9}}

! green
*.color2:       {{ index .Colors 2}}
*.color10:      {{ index .Colors 10}}

! yellow
*.color3:       {{ index .Colors 3}}
*.color11:      {{ index .Colors 11}}

! blue
*.color4:       {{ index .Colors 4}}
*.color12:      {{ index .Colors 12}}

! magenta
*.color5:       {{ index .Colors 5}}
*.color13:      {{ index .Colors 13}}

! cyan
*.color6:       {{ index .Colors 6}}
*.color14:      {{ index .Colors 14}}

! white
*.color7:       {{ index .Colors 7}}
*.color15:      {{ index .Colors 15}}
